html { 
	margin:0; 
	padding: 0; 
	border:0;
	font-family: arial, verdana, tahoma, sans-serif;
	font-size: 0.9em;
	height: 100%;
}

body {
	padding: 0;
	background: #E3E8EE;
}

a:hover {
	color: #6480a1;
}
a {
	color: #3e5c7d;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */ 
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display:block;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { 
	border-collapse: separate; 
	border-spacing: 0; 
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td { 
	text-align: left; 
	font-weight: normal; 
	float:none !important; 
}
table, th, td { 
	vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }

.hide {
	display: none;
}

#header {
	overflow: hidden;
	background: url(../images/headerbg.png) bottom center repeat-x;
	color:  #fff;
	border-radius: 5px 5px 0 0;
	height: 35px;
	padding: 10px;
	margin: 20px 5% 0;
}
	#header h1 {
		font-size: 1.2em;
		margin: 10px;
		float: left;
	}
	#header h1 a {
		color: #fff;
	}
	#topright {
		padding: 10px 10px 10px 0;
		float: right;
	}
		#topright a {
			color: #fff;
		}

#nav {
	height: 36px;
	background-color: #183558;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.4), transparent);
	margin: 0 5%;
}
	#nav ul {
		padding: 0;
		display: block;
	}
		#nav li {
			float: left;
			margin: 0 2px -3px 6px;
		}
			#nav li a {
				color: #fff;
				display: block;
				margin: 5px 0;
				padding: 5px;
				border-radius: 5px;
			}
			#nav li a:hover {
				background-color: #254265;
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(transparent));
				background-image: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, transparent 100%);
				background-image: linear-gradient(top, #fff, transparent);
			}
			#nav li a:active {
				background-color: #0B284B;
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(transparent));
				background-image: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, transparent 100%);
				background-image: linear-gradient(top, #fff, transparent);
			}
			#nav li.selected a {
				background-color: #D3D9E0;
				color: #183558;
				font-weight: bold;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#EFF3F8), to(#D3D9E0));
				background-image: -moz-linear-gradient(top, #EFF3F8 0%, #D3D9E0 100%);
				background-image: linear-gradient(top, #EFF3F8, #D3D9E0);
				
			}
			#nav li.selected a:hover {
				background-color: #ECF3FA;
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(transparent));
				background-image: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, transparent 100%);
				background-image: linear-gradient(top, #fff, transparent);
			}
			#nav li.selected a:active {
				background-color: #C6CCD3;
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(transparent));
				background-image: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, transparent 100%);
				background-image: linear-gradient(top, #fff, transparent);
			}


h2 {
	font-size: 1.2em;
	margin: 3px;
	font-weight: bold;
}
#wrapper {
	border: 1px solid #B0BBC4;
	border-width: 0px 1px 1px;
	background: #fff;
	margin: 0 5%;
	overflow: hidden;
}
#content {
	padding: 10px;
}
#footer {
	text-align: right;
	padding: 5px;
	clear: both;
	border-top: 1px solid #B0BBC4;
}
.right {
	float: right;
}
.left {
	float: left;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.indent {
	margin-left: 20px;
}

textarea.editor, #cke_pageContent {
	margin: 15px 0;
}

.sortable {
	list-style-type: none; margin: 0; padding: 0; width: 400px;
}
	.sortable li {
	}
	.sortable span {
		background: #E3E8EE;
		display: block;
		margin: 0 5px 5px 5px; padding: 5px;
	}
	.ui-state-highlight {
		height: 1.15em; line-height: 1.2em; background: #cbcfd4;
		margin: -1px 5px 5px; padding: 5px;
		border: 1px solid #b0b4b8;
	}
	.handle {
		cursor: pointer;
		margin: 0 5px -2px 0;
	}
	
.textInputList input, input.wide {
	width: 300px;
}
.textInputList span {
	padding: 3px 5px 0 0;
	width: 150px;
	text-align: right;
	float: left;
}
.textInputList li {
	padding: 3px;
}

label {
	width: 150px;
	vertical-align: top;
	text-align: right;
	float: left;
	padding: 3px 10px 0 0;
}
label.error {
	float: none;
	margin: 5px 0 0 5px;
}

#recaptcha_area {
	margin-left: 160px;
}

.message {
	background: #f1f6ec url(../images/information.png) no-repeat 8px 11px;
	padding: 10px 10px 10px 30px;
	border: 1px solid #b0ce94;
	color: #3e4934;
	line-height: 150%;
	border-radius: 8px;
	margin: 5px 0;
}

	.message h3 {
		padding: 0;
		color: #323232;
	}
	
	.message.error {
		background: #f3dddd url(../images/exclamation.png) no-repeat 8px 11px;
		border-color: #deb7b7;
		color: #281b1b;
	}

p.info {
	margin: 10px;
}

.textLinkList {
	margin: 10px 0 20px;
}
.textLinkList a {
	margin: 0 0 0 15px;
}

/* Code for buttons */
a.button, input.button { display: inline-block; padding: 7px 9px; font-size: 12px; line-height:1; color: #3C3C3D; text-shadow: 1px 1px 0 #FFFFFF; background: #ECECEC url('../images/css3buttons_backgrounds.png') 0 0 no-repeat; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; border: 1px solid #CACACA; -webkit-border-radius: 2px; -moz-border-radius: 2px; -webkit-background-clip: padding-box; border-radius: 2px; outline: none; position: relative; zoom: 1; *display: inline; }
input.button { padding: 6px 9px 8px !important; }
a.button.primary, input.button.primary { font-weight: bold }
a.button:hover, input.button:hover { color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
a.button:active, a.button.active, input.button:active, input.button.active { background-position: 0 -81px; border-color: #347BBA; background-color: #0F5EA2; color: #FFFFFF; text-shadow: none; }
a.button:active, input.button:active { top: 1px }
a.button.negative:hover, input.button.negative:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
a.button.negative:active, input.button.negative:active,
a.button.negative.active { background-position: 0 -161px; background-color: #A5211E; border-color: #911D1B; }
a.button.pill { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 6px 12px; }
a.button.left { -webkit-border-bottom-right-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-topright: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: 0px; }
a.button.middle { margin-right: 0px; margin-left: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-left: none; }
a.button.right { -webkit-border-bottom-left-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: 0px; border-left: none;}
a.button.left:active,
a.button.middle:active,
a.button.right:active { top: 0px }
a.button.big { font-size: 16px; padding: 7px 16px; }
a.button span.icon { display: inline-block; width: 14px; height: 12px; margin: auto 7px auto auto; position: relative; top: 1px; background-image: url('../images/css3buttons_icons.png'); background-repeat: no-repeat; }
a.big.button span.icon { top: 0px }
a.button span.icon.book { background-position: 0 0 }
a.button:hover span.icon.book { background-position: 0 -15px }
a.button span.icon.calendar { background-position: 0 -30px }
a.button:hover span.icon.calendar { background-position: 0 -45px }
a.button span.icon.chat { background-position: 0 -60px }
a.button:hover span.icon.chat { background-position: 0 -75px }
a.button span.icon.check { background-position: 0 -90px }
a.button:hover span.icon.check { background-position: 0 -103px }
a.button span.icon.clock { background-position: 0 -116px }
a.button:hover span.icon.clock { background-position: 0 -131px }
a.button span.icon.cog { background-position: 0 -146px }
a.button:hover span.icon.cog { background-position: 0 -161px }
a.button span.icon.comment { background-position: 0 -176px }
a.button:hover span.icon.comment { background-position: 0 -190px }
a.button span.icon.cross { background-position: 0 -204px }
a.button:hover span.icon.cross { background-position: 0 -219px }
a.button span.icon.downarrow { background-position: 0 -234px }
a.button:hover span.icon.downarrow { background-position: 0 -249px }
a.button span.icon.fork { background-position: 0 -264px }
a.button:hover span.icon.fork { background-position: 0 -279px }
a.button span.icon.heart { background-position: 0 -294px }
a.button:hover span.icon.heart { background-position: 0 -308px }
a.button span.icon.home { background-position: 0 -322px }
a.button:hover span.icon.home { background-position: 0 -337px }
a.button span.icon.key { background-position: 0 -352px }
a.button:hover span.icon.key { background-position: 0 -367px }
a.button span.icon.leftarrow { background-position: 0 -382px }
a.button:hover span.icon.leftarrow { background-position: 0 -397px }
a.button span.icon.lock { background-position: 0 -412px }
a.button:hover span.icon.lock { background-position: 0 -427px }
a.button span.icon.loop { background-position: 0 -442px }
a.button:hover span.icon.loop { background-position: 0 -457px }
a.button span.icon.magnifier { background-position: 0 -472px }
a.button:hover span.icon.magnifier { background-position: 0 -487px }
a.button span.icon.mail { background-position: 0 -502px }
a.button:hover span.icon.mail { background-position: 0 -514px }
a.button span.icon.move { background-position: 0 -526px }
a.button:hover span.icon.move { background-position: 0 -541px }
a.button span.icon.pen { background-position: 0 -556px }
a.button:hover span.icon.pen { background-position: 0 -571px }
a.button span.icon.pin { background-position: 0 -586px }
a.button:hover span.icon.pin { background-position: 0 -601px }
a.button span.icon.plus { background-position: 0 -616px }
a.button:hover span.icon.plus { background-position: 0 -631px }
a.button span.icon.reload { background-position: 0 -646px }
a.button:hover span.icon.reload { background-position: 0 -660px }
a.button span.icon.rightarrow { background-position: 0 -674px }
a.button:hover span.icon.rightarrow { background-position: 0 -689px }
a.button span.icon.rss { background-position: 0 -704px }
a.button:hover span.icon.rss { background-position: 0 -719px }
a.button span.icon.tag { background-position: 0 -734px }
a.button:hover span.icon.tag { background-position: 0 -749px }
a.button span.icon.trash { background-position: 0 -764px }
a.button:hover span.icon.trash { background-position: 0 -779px }
a.button span.icon.unlock { background-position: 0 -794px }
a.button:hover span.icon.unlock { background-position: 0 -809px }
a.button span.icon.uparrow { background-position: 0 -824px }
a.button:hover span.icon.uparrow { background-position: 0 -839px }
a.button span.icon.user { background-position: 0 -854px }
a.button:hover span.icon.user { background-position: 0 -869px }
