#header {
	padding: 0;
	border-bottom: 1px solid #000;
	overflow: hidden;
}
	#header h1 {
		font-size: 1.2em;
		margin: 10px;
		float: left;
	}
	#header ul {
		margin: 5px 0 0;
		padding: 0;
		display: block;
		clear: both;
	}
		#header li {
			float: left;
			border-right: 1px solid #000;
			border-top: 1px solid #000;
		}
			#header li a {
				background: #ccc;
				color: #000;
				display: block;
				padding: 5px;
			}
			#header li a:hover {
				background: #ddd;
			}
			#header li a:active {
				background: #bbb;
			}
			#header li.selected a {
				background: #eee;
			}
	#header #logout {
		padding: 10px;
	}
#wrapper {
	width: 90%;
	border: 1px solid #002765;
	margin: 0 auto;
	overflow: hidden;
}
#content {
	padding: 10px;
}
#footer {
	text-align: right;
	padding: 5px;
	clear: both;
	border-top: 1px solid #000;
}
.right {
	float: right;
}
.left {
	float: left;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
